<%- include("partials/header") %>
<h1>
	Page under construction buddy! Check back later. itni bhi ghai kya hai?
</h1>

<h3>
	Welcome to Purlieu!
</h3>

<button>
	<a href="/restaurants">Explore new hangout places</a>
</button>

<br>



<%- include("partials/footer") %>