<%- include('../partials/header') %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center">
			Add a new hangout place
		</h1>
		<div style="width: 30%; margin: 30px auto;">
			<form action = "/restaurants" method = "POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="Restaurant Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="Image url">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="city" placeholder="City and State/ Country">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="Cuisine">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<a href="/restaurants">Changed your mind? Wanna go back? Hit me!</a>
		</div>
		

	<br>

	
		<br>
	</div>
</div>


<%- include('../partials/footer') %>